In [2]:
import pandas as pd
import re
dt = pd.read_csv('../output/deduped_people.csv')

In [3]:
has_birth_year = dt[pd.notna(dt["Birth Year:"])]

def get_year(val):
    return re.sub("[^0-9]", "", val)[:4]

birth_years = has_birth_year["Birth Year:"].map(get_year)
birth_years.to_csv("../output/years.csv", index=False)

In [12]:
has_birthplace = dt[pd.notna(dt["Birthplace:"])]
birthplaces = has_birthplace["Birthplace:"]
def clean_birthplace(val):
    new_val = val.strip('\"').replace('[', '').replace(']', '')
    if new_val == "Philippine Island\nPhilippines":
        return "Philippines"
    return new_val
birthplaces.map(clean_birthplace).value_counts().to_csv("../output/birthplace.csv")

In [34]:
# Work Columns 
# Occupation:, Employment:, Industry:, Class of Worker:
has_work = dt[pd.notna(dt["Occupation:"])]

def get_occupation(val):
    low_val = val.lower()
    if "laundry" in low_val:
        return "Laundry Worker"
    elif "house" in low_val:
        return "Housekeeper"
    elif "assistant" in low_val or "secretary" in low_val:
        return "Assistant"
    elif low_val == "realetor":
        return "Realtor"
    elif low_val == "Dist Washer":
        return "Dish Washer"
    return val
has_work["Occupation:"].map(get_occupation).value_counts().to_csv("../output/occup.csv")

# this col has almost no values so don't use
is_employed = dt[pd.notna(dt["Employment:"])]

has_industry = dt[pd.notna(dt["Industry:"])]
print(has_industry["Industry:"])

class_of_worker = dt[pd.notna(dt["Class of Worker:"])]
print(class_of_worker["Class of Worker:"])

0                   Laundry
1                   Laundry
18             Truck Family
19          Asiatie Gardens
21           Asiatie Garden
23           Asistie Garden
33                  Laundry
34                  Laundry
59              Farm Bureau
60        Agri Cornell Univ
69              Fruit Store
79              Real estate
82               Restaurant
83               Restaurant
103    Phipies Cornell Univ
Name: Industry:, dtype: object
0                                      Employer
1                         Wage or salary worker
18        Wage or salary worker in private work
19                                     Employer
21                                     Employer
23        Wage or salary worker in private work
27        Wage or salary worker in private work
33        Wage or salary worker in private work
34        Wage or salary worker in private work
59                        Wage or salary worker
60                        Wage or salary worker
69                        Wage or salary worker
76     Wage or salary worker in Government work
79                       Working on own account
82                        Wage or salary worker
83                        Wage or salary worker
84                                     Employer
103                       Wage or salary worker
Name: Class of Worker:, dtype: object

In [ ]:

# Education Columns
# Attended School or College:, Highest Grade Completed:, Attended School:, Able to Read and Write:,